# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# get outta here intelij
.idea/

# actual config fine should be committed. Look to the example for... well an example
.host-config.json